*{box-sizing: border-box;}
body{margin: 0;}
.header{background-color: #ffffff; 
    padding: 20px; 
    text-align: left; 
    font-family: "Bad Script";}

.topnav{overflow: hidden; 
    background-color:#ffffff;}

.topnav a{ float: left; 
    display: block; 
    color: #ffffff; 
    text-align: center; 
    padding: 14px 16px; 
    text-decoration: none}

.topnav a:hover{background-color: #ffffff; color: black;}

.topnav {
  display: flex;
  justify-content: center; /* 가로 방향 가운데 정렬 */
  align-items: center;     /* 세로 방향 가운데 정렬 (필요한 경우) */
  gap: 20px;               /* 각 링크 사이의 간격 설정 */
}

.topnav a {
  text-decoration: none;   /* 링크 밑줄 제거 */
  color: black;            /* 링크 텍스트 색상 설정 */
  padding: 10px 100px;      /* 링크의 안쪽 여백 추가 */
  border-radius: 5px;      /* 모서리를 둥글게 설정 */
  transition: background-color 0.3s; /* 마우스 오버 시 배경색 변화 애니메이션 */
}

.title{padding-left:20px; text-align:left;}

.column.side h3 {
    margin-left: 100px; /* 제목 왼쪽에 20픽셀의 여백 추가 */
    margin-bottom: 20px; /* 제목 아래에 20픽셀의 여백 추가  */
}


hr {
            width: 80%; /* 구분선 너비 */
            border: none; /* 기본 테두리 제거 */
            border-top: 1px solid #ccc; /* 얇은 회색 구분선 설정 */
            margin: 20px auto; /* 구분선 상하 여백 및 가운데 정렬 */
        }

.form-container {
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="number"], textarea, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

input[type="file"] {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}
